.train-card {
  padding: 5vw;
  border-radius: 2vw;
  background: rgba(255, 255, 255, 0.80);
  width: 63vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  box-sizing: border-box;
  margin-bottom: 2vw;
  box-shadow:
    0 1.5rem 3rem rgba(0, 0, 0, 0.12),
    inset 0 0.0625rem 0 rgba(255, 255, 255, 0.6);
}

.train-card h2 {
  font-size: 2rem;
  color: #644869;
}

.train-card label {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.train-card input,
.train-card select {
  padding: 1vh 1vw;
  font-size: 1.5rem;
  border-radius: 0.5vw;
  border: 0.1vw solid #ccc;
  margin-bottom: 1vw;
}

.train-card button {
  background-color: #90b9ab;
  margin-top: 1vw;
  color: white;
  border: none;
  padding: 1vh 2vw;
  border-radius: 1vw;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.train-card button:hover {
  background-color: #50817d;
}

.train-message {
  color: #846291;
  font-weight: bold;
  font-size: 1.5rem;
}

.train-mse {
  font-weight: bold;
  font-size: 1.5rem;
}
